* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'CaskaydiaCove Nerd Font Mono', Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #eee;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-size: 12px;
}

window#waybar {
  background-color: #181824;
}

window#waybar.hidden {
  opacity: 0.2;
}


window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}


#workspaces button {
  all: initial;
  color: rgba(255,255,255,0.5);
  margin: 4px 2px;
  padding: 2px 6px;
  border-radius: 8px;
  font-weight: bold;
}

#workspaces button.empty {
  color: rgba(255,255,255,0.5);
}

#workspaces button:hover {
  color: #f00;
}

#workspaces button.active {
  background-color: rgba(255,255,255,0.2);
}

#workspaces button.hover {
  background-color: rgba(255,255,255,0.3);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#window {
}

#mode {
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power,
#mpd {
  margin: 8px;
}

#tray, #network {
  color: #333;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#language {
  background: #00b093;
  color: #740864;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
