window {
margin: 0px;
border: 1px solid #8caaee;
background-color: #181824;
color: #c6d0f5;
}

#input {
margin: 5px;
border: none;
color: #d8dee9;
background-color: #181825;
}

#inner-box {
margin: 5px;
border: none;
background-color: #2e2e2f;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1e1e2e;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d8dee9;
}

#entry{
background-color: #181825;
}

#entry:selected {
background-color: #11111b;
border: 1px solid #8caaee;
}
